/** @format */

@import url('https://fonts.googleapis.com/css2?family=Creepster&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Inconsolata:wght@200&display=swap');

.App {
	text-align: center;
}

@keyframes App-logo-spin {
	from {
		transform: rotate(0deg);
	}
	to {
		transform: rotate(360deg);
	}
}

.titles {
	font-family: 'Creepster', cursive;
	color: red;
	font-size: 150px;
	text-align: center;
	background-color: black;
}

.substitles {
	color: black;
	font-size: 30px;
	text-align: center;
	font-family: 'Inconsolata', monospace;
}
.subx {
	padding: 25px;
	background-color: rgb(249, 5, 5);
}

.bodiao {
	background-color: black;
	padding: 10px;
	width: 100vw;
	height: 100vh;
}


